/* rem and em do NOT depend on html font-size in media queries! 
Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .container {
    padding: 2.4rem 4.8rem;
    margin: 0 auto;
  }

  .work-grid {
    height: 80vh;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 60em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .work-grid {
    height: 60vh;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets/Phones) */
/**************************/

@media (max-width: 45em) {
  .heading-primary {
    font-size: 4.8rem;
  }

  .subheading-hero {
    font-size: 1.8rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-bottom: 0.4rem;
  }

  .heading-title {
    font-size: 3rem;
    color: var(--tint);
    letter-spacing: 1px;
  }

  .step-title {
    border-right: none;
    border-bottom: 3px solid var(--shade);
    text-align: left;
  }

  .grid {
    grid-template-columns: 1fr;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }

  .container {
    padding: 3.2rem 2.4rem;
    margin: 0 auto;
  }

  /* --- hero --- */

  .hero-banner {
    height: 90vh;
  }

  /* --- nav --- */

  .header {
    height: 9.2rem;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 3.2rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  /* --- about me --- */

  .about-img-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }

  .img-box {
    width: 100%;
    overflow: hidden;
  }

  /* --- my work --- */

  .work-grid {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "a" "b" "c" "d" "e";
  }

  /* --- contact --- */

  .contact-box {
    gap: 4.8rem;
  }
}
